/target/classes/de/swt/ui/DrawArea.class
/target/classes/de/swt/ui/MainWindow.class
/target/classes/de/swt/events/MainWindowHandler.class
/target/classes/de/swt/events/MouseHandler.class
/target/classes/de/swt/app/Program.class
